---
import CategoryListItem from "@/components/cards/category-list-item.astro";
import SectionHead from "@/components/common/section-head.astro";
import { getPublishedArticles } from "@/lib/articles";
import Footer from "../components/common/footer.astro";
import Header from "../components/common/header.astro";
import RootLayout from "../layouts/RootLayout.astro";

const title: string = "分类";
const allBlogPosts = await getPublishedArticles();

// 统计每个分类的文章数
const categoryCounts = new Map<string, number>();
for (const post of allBlogPosts) {
    const category = post.data.category;
    categoryCounts.set(category, (categoryCounts.get(category) ?? 0) + 1);
}
const sortedCategories = [...categoryCounts.keys()].sort();
---
<RootLayout title={title} description="按分类浏览所有文章">
    <Header/>
    <div class="flex flex-col">
        <SectionHead title="分类" as="h1" />
        <div class="flex flex-col">
            {sortedCategories.map(category => (
                <CategoryListItem
                    name={category}
                    count={categoryCounts.get(category) ?? 0}
                    url={`/categories/${category}`}
                />
            ))}
        </div>
    </div>

    <Footer/>
</RootLayout>
