---
import RootLayout from "@/layouts/RootLayout.astro";
import Header from "../components/common/header.astro";
import Footer from "../components/common/footer.astro";
import ArticleList from "@/components/home-article-list.astro";
import {Separator} from "@/components/ui/separator.tsx";
import {ProjectList} from "@/components/home-project-list.tsx";
import PersonalIntro from "@/components/personal-intro.astro";
import TextBorderAnimation from "@/components/ui/text-border-animation.tsx";
const title: string = "个人主页";
---
<RootLayout title={title}>
    <Header/>
    <div class="flex flex-col justify-start pt-10 gap-y-6 px-1.5">
        <PersonalIntro/>
        <Separator/>
        <ArticleList/>
        <Separator/>
        <ProjectList client:load/>
        <Separator/>
        <TextBorderAnimation text="归档" client:load/>
    </div>
    <Footer/>
</RootLayout>