---
import "@/styles/globals.css";
import RootLayout from "@/layouts/RootLayout.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
const title: string = "个人主页";
---
<RootLayout title={title}>
    <Header/>
    <div>content</div>
    <Footer/>
</RootLayout>