---
import "@/styles/globals.css";
import RootLayout from "@/layouts/RootLayout.astro";
import {ModeToggle} from "@/components/mode-toggle";
---

<RootLayout>
    <div class="w-full flex flex-col items-center justify-center size-96 text-foreground">
        <ModeToggle client:load/>
        <h1 class="p-2  text-[18px] font-medium">Hello, world!
            你好世界，本篇博文是我的第一篇博文，以后我会在这发布更多的博文主要是code以及program相关，但是也不排除life相关的放放面面
        </h1>
    </div>
</RootLayout>
