---
import { ThoughtComposer } from "@/components/common/thought-composer";
import SectionHead from "@/components/common/section-head.astro";
import Footer from "../components/common/footer.astro";
import Header from "../components/common/header.astro";
import RootLayout from "../layouts/RootLayout.astro";

const title: string = "Say";
---
<RootLayout title={title} description="发布想法" noindex>
    <Header/>
    <div class="flex flex-col gap-y-2">
        <SectionHead title="Say" as="h1" />
        <ThoughtComposer client:load />
    </div>

    <Footer/>
</RootLayout>
