---
import ThoughtListItem from "@/components/cards/thought-list-item.astro";
import type { RenderedThought } from "@/lib/thoughts";

interface Props {
    thoughts: RenderedThought[];
}

const { thoughts } = Astro.props;
---

<section class="flex flex-col gap-y-6 pt-2">
    {thoughts.map((thought) => (
        <ThoughtListItem html={thought.html} createdAt={thought.createdAt} />
    ))}
</section>
