---
import ProjectListItem from "@/components/cards/project-list-item.astro";
import { projectInfo } from "@/data/project-info";
---

<section class="flex flex-col">
    {projectInfo.map((item) => (
        <ProjectListItem
            title={item.projectName}
            description={item.projectDescription}
            url={item.projectLink}
        />
    ))}
</section>
