---
import ArticleListItem from "@/components/cards/article-list-item.astro";
import { getPublishedArticles, sortByDateDesc } from "@/lib/articles";

const latestBlogPosts = sortByDateDesc(await getPublishedArticles()).slice(0, 5);
---

<section class="flex flex-col">
    {latestBlogPosts.map(post => (
        <ArticleListItem
            title={post.data.title}
            date={post.data.publish_date}
            url={`/articles/${post.id}`}
        />
    ))}
</section>
