---
import {ModeToggle} from "@/components/mode-toggle";
import {Button} from "@/components/ui/button";
import Logo from "@/components/logo.astro";
import {MobileMenu} from "./mobile-menu";
---
<header class="w-full h-8 flex justify-between items-center">
    <Logo/>
    <div class="flex justify-evenly items-center gap-2 ">
        <div class="hidden md:flex gap-x-2 text-2xl">
            <a href="/archive">
                <Button variant="menu" size="menu">归档</Button>
            </a>
            <a href="/essay">
                <Button variant="menu" size="menu">随笔</Button>
            </a>
            <a href="/categoery">
                <Button variant="menu" size="menu">分类</Button>
            </a>
            <a href="/tag">
                <Button variant="menu" size="menu">标签</Button>
            </a>
            <a href="/about">
                <Button variant="menu" size="menu">关于</Button>
            </a>
        </div>
        <div class="md:hidden">
            <MobileMenu client:load/>
        </div>
    </div>
</header>