---
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("articles", ({data}) => {
    return data.draft !== true;
});

import ArticleListItem from "./article-list-item.astro";

const latestBlogPosts = allBlogPosts
    .sort((a, b) => new Date(b.data.publish_date).getTime() - new Date(a.data.publish_date).getTime())
    .slice(0, 5);
---

<section class="flex flex-col gap-y-2">
    {latestBlogPosts.map(post => (
        <ArticleListItem
            title={post.data.title}
            date={post.data.publish_date}
            url={`/articles/${post.slug}`}
        />
    ))}
    <a href="/archive" class="mt-4 text-sm hover:underline inline-flex items-center gap-1 w-fit">
        查看全部 <span aria-hidden="true">→</span>
    </a>
</section>