---
import {getCollection} from "astro:content";
import ArticleCard from "@/components/article-card.tsx";
const allBlogPosts = await getCollection("articles", ({data}) => {
    return data.draft !== true;
});

const latestBlogPosts = allBlogPosts
    .sort((a, b) => new Date(b.data.publish_date).getTime() - new Date(a.data.publish_date).getTime())
    .slice(0, 6);
---

<div class="flex flex-col">
    <!--   最新文章列表-->
    <h1 class="text-2xl font-bold pb-2">最新文章</h1>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {latestBlogPosts.map(post => (
                <ArticleCard   post={post} client:load/>))}
    </section>
</div>