---
//TODO 查询md文章列表，选取最新的三篇

---

<div class="flex flex-col">
    <!--   最新文章列表-->
    <h1 class="text-2xl font-bold pb-2">最新文章</h1>
    <section class="grid grid-cols-1 gap-4 grid-cols-1">
        <article class="group relative overflow-hidden rounded-lg shadow-md transition-all hover:shadow-lg">
            <a href="#" class="absolute inset-0 z-10">
                <span class="sr-only">文章列表</span>
            </a>
            <div class="bg-background dark:border-stone-800 rounded-lg border p-2 md:p-6">
                <div class="mb-2 text-sm text-muted-foreground">2024-09-06 15:39</div>
                <h3 class="mb-2 text-xl font-bold tracking-tight text-foreground group-hover:text-primary">
                    文章标题
                </h3>
                <p class="hidden md:block text-muted-foreground">
                    这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述
                </p>
            </div>
        </article>

        <article class="group relative overflow-hidden rounded-lg shadow-lg transition-all hover:shadow-xl">
            <a href="#" class="absolute inset-0 z-10">
                <span class="sr-only">文章列表</span>
            </a>
            <div class="bg-background dark:border-stone-900 rounded-lg border p-2 md:p-6">
                <div class="mb-2 text-sm text-muted-foreground">2024-09-06 15:39</div>
                <h3 class="mb-2 text-xl font-bold tracking-tight text-foreground group-hover:text-primary">
                    文章标题
                </h3>
                <p class="hidden md:block text-muted-foreground">
                    这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述
                </p>
            </div>
        </article>

        <article class="group relative overflow-hidden rounded-lg shadow-lg transition-all hover:shadow-xl">
            <a href="#" class="absolute inset-0 z-10">
                <span class="sr-only">文章列表</span>
            </a>
            <div class="bg-background dark:border-stone-900 rounded-lg border p-2 md:p-6">
                <div class="mb-2 text-sm text-muted-foreground">2024-09-06 15:39</div>
                <h3 class="mb-2 text-xl font-bold tracking-tight text-foreground group-hover:text-primary">
                    文章标题
                </h3>
                <p class="hidden md:block text-muted-foreground">
                    这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述这是文章的主要内容描述
                </p>
            </div>
        </article>
    </section>
</div>