---

---
<div class="w-full flex flex-col gap-y-4">
    <h1 class="text-2xl font-bold">个人介绍</h1>
    <div class="text-md font-medium">
        Hello👋 I'm rockychang. 一个独立开发者,关注前后端技术、学习方法论、心流(Flow)。 喜欢一切简单优雅的设计，专注于开发个人独立作品。
    </div>
</div>