---
import {ModeToggle} from "./mode-toggle";
---

<footer class="flex flex-col py-2 md:flex-row h-[60px] justify-between items-start md:items-center mt-auto">
  <div class="text-sm text-muted-foreground p-2">©2024-present rockycheong.com</div>
</footer>