---
import {ModeToggle} from "./mode-toggle";
import GlobalSearch from "./global-search";
import RssComponent from "@/components/icons/rss-icons";
import {Separator} from "../ui/separator";
import {generateSearchData} from "@/lib/generateSearchData";
// 生成搜索数据
const searchData = await generateSearchData();
---
<div class="flex gap-x-1 justify-center items-center">
    <Separator orientation="vertical" className="bg-primary/60 h-5"/>
    <GlobalSearch
            client:load
            searchData={searchData}
    />
    <RssComponent client:load/>
    <ModeToggle client:load/>
</div>